.container2 {
    width: 100%;
    height: auto;
    background-color: white;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-top: 5px;
    box-sizing: border-box;
    margin-top: 0.5px;
}

.page2-section1 {
    border: px solid;
    
    
}

.page2-section1 div {
    border: px solid;
    display: inline-block;
    width: 12vw;
    vertical-align: top;

    box-sizing: border-box;
    
    
    
}

.page2-section1 div:first-of-type {
    width: 24vw;
    line-height: 4vw;
}

.page2-section1 div:nth-of-type(2) {
    margin-left: 10vw;
}

.page2-section1 div:first-of-type span:nth-child(2) {
    color: rgba(0, 90, 226, 1);
    ;

}

.page2-section1 div span {
    border: px solid;
    font-size: 3.1vw;
    font-weight: 600;
}
.page2-section1 div p {
    border: px solid;
    font-size: 1.6vw;
    margin-top: 5px;
    
}

.page2-section2 {
    border: px solid;
    display: flex;
    margin-top: 100px;
    
}
.page2-section2-child1 {
    border: 0px solid;
    width: 25vw;

}
.page2-section2-child2 {
    border: 0px solid;
    width: 24vw;
    margin-left: 9.4vw;
}
.page2-section2-child3 {
    border: 0px solid;
    width: 25vw;
}
.page2-section1 div:nth-of-type(4), .page2-section2-child3 {
    margin-left: 5vw;
}

.page2-section2-child2 div, .page2-section2-child3 div{
    border: 0px solid;
    margin-bottom: 3vw;
    padding-right: 15px;
    
}
h3 {
font-size: 2.6vw;
}

h3[class="why-choose-scissors"] {
margin-top: 0;
border: px solid;
width: 100%;
padding: 5px;
padding-left: 2px;
box-sizing: border-box;
text-align: center;
font-size: 2.2vw;
}

#choose-scissors {
text-align: left;
}

h3[class="why-choose-scissors"]::before {
content: "";
border: px solid;
width: 4px;
height: 3.3vw;
display: inline-block;
background: linear-gradient(
to bottom,
rgba(17, 34, 50, 1),
rgba(77, 107, 136, 0)
);
margin-right: 0.2vw;
vertical-align: -25%;
}
h3[class="why-choose-scissors"] span {
color: rgba(0, 90, 226, 1);
font-size: 2.2vw;
}
.page2-section2-child2 img, .page2-section2-child3 img {
    width: 7vw;
    height: 7vw;
    object-fit: cover;
}
.page2-section2-child1 div p {
    font-size: 1.8vw;
    margin-top: 5vw;
}
.page2-section2-child2 div p, .page2-section2-child3 div p {
    font-size: 2.1vw;
    margin-top: 5px;
}

@media (max-width: 768px) {

    .page2-section2 {
        margin-top: 10vw;
        
        
        
    }
    .page2-section1 div {
        width: 18vw;
        font-size: 2.5vw;
        border: px solid;
        
    }
    .page2-section1 div p {
        font-size: 2.2vw;
    }
    .page2-section1 div:first-of-type {
        width: 90%;
        line-height: 4vw;
        border: px solid;
        display: block;
        text-align: center;
    }
    .page2-section1 div:nth-of-type(2) {
        margin-left: 5vw;
    }
    .page2-section2-child1 {
        width: 35vw;
        border: 0px solid;
    }
    .page2-section2-child2 {
        width: 30vw;
        margin-left: 10vw;
        border: 0px solid;
    }
    .page2-section2-child2 div, .page2-section2-child3 div {
        margin-bottom: 2vw;
        border: px solid green;
        height: 53vw;
    }
    .page2-section2-child3 {
        width: 30vw;
        border: 0px solid;
    }
    .page2-section1 div:nth-of-type(4), .page2-section2-child3 {
        margin-left: 2vw;
    }
    h3 {
        font-size: 3.6vw;
    }
    h3[class="why-choose-scissors"] {
        font-size: 5.2vw;
    }
    h3[class="why-choose-scissors"]::before {
        width: 2px;
        height: 5vw;
        margin-right: 0.5vw;
    }
    h3[class="why-choose-scissors"] span {
        font-size: 5vw;
    }
    .page2-section2-child1 div p {
        font-size: 3.6vw;
        margin-top: 5vw;
    }
    .page2-section2-child2 div p, .page2-section2-child3 div p {
        font-size: 2.6vw;
        margin-top: 5px;
    }
}
@media (max-width: 370px) {
    .page2-section1 div:nth-of-type(2) {
        margin-left: 1vw;
    }
}