.container4 {
    width: 100%;
    height: auto;
    padding: 10vw 0;
    box-sizing: border-box;
    background: linear-gradient(
      to right,
      rgba(30, 52, 72, 1) 70%,
      rgba(30, 52, 72, 0) 100%
    );
    margin: 0;
  }
  
  .container4-section1 {
    width: 34%;
    background-color: white;
    height: 300px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 60px 5px 60px 35px;
    display: block;
    box-sizing: border-box;
  }
  
  .container4-section1 input::placeholder {
    color: rgba(50, 132, 255, 1);
  }
  
  .container4-flex1 input {
    width: 100%;
    border-radius: 5px;
    border: 0.5px solid rgba(50, 132, 255, 1);
    font-size: 1.3vw;
  }
  
  .container4-flex2 input,
  .container4-flex2 select {
    width: 50%;
    border: 0.5px solid rgba(50, 132, 255, 1);
    border-radius: 5px;
    box-sizing: border-box;
    color: rgba(50, 132, 255, 1);
    font-size: 1.3vw;
  }
  .c4-option {
    color: black;
    font-size: 0vw;
  }
  
  .container4-flex1 {
    width: 90%;
    height: 32px;
    border: px solid black;
    display: flex;
    margin-bottom: 30px;
  }
  
  .container4-flex2 {
    width: 90%;
    height: auto;
    border: px solid black;
    display: flex;
    gap: 20px;
  }
  
  .c4-button {
    background-color: rgba(0, 90, 226, 1);
    border-radius: 100px;
    width: 90%;
    margin: 20px 0;
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
  
  }
  
  .c4-button::after {
      content: ""; /* Required for pseudo-elements */
      display: inline-block; /* Ensures it behaves like an element */
      background-image: url(/Assets/magic%20wand.png); /* Use %20 for spaces in filenames */
      background-size: contain; /* Scales the background image */
      background-repeat: no-repeat; /* Prevents tiling */
      margin-left: 0.3vw; /* Space between the element and the image */
       /* Aligns the image with text */
      width: 2vw; /* Set width for the pseudo-element */
      height: 2vw; /* Set height for the pseudo-element */
      border: 0px solid;
      vertical-align: text-top; 
      margin-top: -3px;
  }
  
  .container4-section1 .c4-p {
    border: px solid;
    flex: 1;
    flex-wrap: wrap;
    width: 88.5%;
    font-size: 14px;
    margin-left: 0;
    text-align: left;
    color: rgba(73, 145, 255, 1);
  }
  
  .c4-p a {
    text-decoration: none;
    font-weight: 700;
    color: rgba(73, 145, 255, 1);
  }
  /* .star-container {
    display: inline;
    border: 1px solid;
    width: 100%;
    margin: 0;
  }
  .star {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 8px;
    width: 10px;
    height: 10px;
    background-color: green;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star1 {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 2px;
    width: 5px;
    height: 5px;
    background-color: red;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star2 {
    display: inline-block;
    position: relative;
    top: 1px;
    left: -3px;
    width: 13px;
    height: 13px;
    background-color: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star3 {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: blue;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star4 {
    display: inline-block;
    position: relative;
    top: -7px;
    left: -35px;
    width: 8px;
    height: 8px;
    background-color: aqua;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star5 {
    display: inline-block;
    position: relative;
    top: 0px;
    left: -60px;
    width: 10px;
    height: 10px;
    background-color: crimson;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star6 {
    display: inline-block;
    position: relative;
    top: 31px;
    left: -45px;
    width: 5px;
    height: 10vw;
    background-color: crimson;
    clip-path: polygon(50% 0%, 0% 100%, 98% 100%);
    border-radius: 50%;
    transform: rotate(-70deg);
} */
  @media (max-width: 768px) {
    .container4 {
      height: 100%;
    border: px solid;
    }
    .container4-section1 {
      width: 90%;
      height: 100%;
      padding: 7vw 3vw 4vw 3vw;
      border: 0px solid;
    }
    .container4-section1 input {
      width: 100%;
      border: 0.5px solid rgba(50, 132, 255, 1);
      font-size: 2vw;
    }
    .container4-section1 select {
      width: 100%;
        border: 0.5px solid;
        font-size: 2vw;
        
    }
    .container4-section1 .c4-p {
      width: 100%;
      text-align: center;
    }
    .container4-section1 .c4-button {
      width: 100%;
    }
    .c4-button::after {
      width: 4vw;
      height: 4vw;
    }
    .container4-flex1 {
      width: 100%;
      border: px solid;
      margin-bottom: 20px;
        
    }
    .container4-flex2 {
      width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container4-flex2 input {
      width: 100%;
      height: 34px;
      margin-top: 0vw;
    }
  }