.container1 {
    width: 100%;
    height: 68vw;
    background-color: white;
    border: 0px solid black;
    padding-top: 4vw;
    margin-top: 0.5px;
  }
  .div-section1 {
    border: px solid;
    width: 90vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .div-section1-child1 h1 {
    border: px solid;
    width: 80vw;
    margin: 0 auto;
    line-height: 8vw;
    font-size:3.6vw;
    text-align: center;

  }
  .div-section1-child1 span {
    color: blue;
  }
  .div-section1-child1 p {
    border: px solid;
    width: 64vw;
    margin: 0 auto;
    text-align: center;
    font-size: 1.7vw;
    line-height: 2.5vw;
  }
  .div-section1-child2 {
    border: px solid;
    width: 43vw;
    height: 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vw auto;
    padding: 0 2%;
  }
  .button2 {
    border: 0.5px solid black;
    text-align: center;
    width: 19vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 20px;
    color: white;
    font-size: 2vw;
  }
  .learn-more {
    color: blue;
    font-size: 2.5vw;
  }
  .img1 {
position: relative;
top: 2vw;
left: 23.5vw;
display: inline-block;
margin: 0;
width: 16vw;
height: 10%;

}
.arrow-img {
width: 5vw;
margin: 0;
vertical-align: 20%;
position: relative;
left: -4vw;

}
.div-section2-child1 {
border: 0.5px solid #005AE2;
width: 55vw;
height: 14.5vw;
margin: 0px auto;
padding-left: 5vw;

border-radius: 2vw;
background-color: rgba(250, 250, 250, 1);
position: relative;
top: -14vw;
left: 3.5vw;
z-index: 1;


}


.div-section2-child1 div {
height: 9vw;
padding-top: 1.6vw;
padding-left: 0px;
box-sizing: border-box;
border: px solid;
}
.div-section2-child1 p {
border: px solid black;
text-align: center;
width: 32vw;
height: auto;
margin: 0 auto;
position: relative;
font-size: 1.5vw;
}

.div-section2-child1 .section2-span:nth-of-type(1) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
background-color: white;
display: inline-block;
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
border-right: transparent ;
margin-top: 10px;
position: relative;
left: -0.1vw;

}
.div-section2-child1 .section2-span:nth-of-type(3) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
display: inline-block;
border-top-right-radius: 18px;
border-bottom-right-radius: 18px;
border-left: transparent;
margin-top: 10px;
position: relative;
left: -1.5vw;
}

.section2-span-child:nth-of-type(2) {
border: 1px solid black;
width: 3.9vw;
display: inline-block;
vertical-align: 1.3vw;
margin-right: -8px;
position: relative;
left: -1.6vw;
}

.div-section2-child1 .section2-span:nth-of-type(4) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
background-color: white;
display: inline-block;
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
border-right: transparent ;
margin-top: 10px;
position: relative;
left: -2.6vw;


}
.div-section2-child1 .section2-span:nth-of-type(6) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
display: inline-block;
border-top-right-radius: 18px;
border-bottom-right-radius: 18px;
border-left: transparent;
margin-top: 10px;
position: relative;
left: -4vw;
}
.section2-span-child:nth-of-type(5) {
border: 1px solid black;
width: 3.5vw;
display: inline-block;
vertical-align: 1.3vw;
margin-right: -8px;
position: relative;
left: -3.7vw;
}

.div-section2-child1 .section2-span:nth-of-type(7) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
background-color: white;
display: inline-block;
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
border-right: transparent ;
margin-top: 10px;
position: relative;
left:-5.1vw;


}
.div-section2-child1 .section2-span:nth-of-type(9) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
display: inline-block;
border-top-right-radius: 18px;
border-bottom-right-radius: 18px;
border-left: transparent;
margin-top: 10px;
margin-right: 0;
position: relative;
left: -6.9vw;

}
.section2-span-child:nth-of-type(8) {
border: 1px solid black;
width: 3.9vw;
display: inline-block;
vertical-align: 1.3vw;
margin-right: -9px;
position: relative;
left: -6.7vw;
}
.div-section2-child1 .section2-span:nth-of-type(10) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
background-color: white;
display: inline-block;
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
border-right: transparent ;
margin-top: 10px;
position: relative;



}
.div-section2-child1 .section2-span:nth-of-type(12) {
width: 2vw;
height: 2.1vw;
border: 2px solid black;
display: inline-block;
border-top-right-radius: 18px;
border-bottom-right-radius: 18px;
border-left: transparent;
margin-top: 10px;
position: relative;

}
.section2-span-child:nth-of-type(11) {
border: 1px solid black;
width: 3.5vw;
display: inline-block;
vertical-align: 1.3vw;
margin-right: -8px;
position: relative;
left: -0.7vw;
}

.div-section3-child1 {
  width: 100%;
  height: 10vw;
  background-color: white;
  border: 0px solid black;
  margin: 0px auto;
  position: relative;
  top: -10vw;
}

.div-section3-child1 div {
  width: 66%;
  height: 4vw;
  margin: 10px auto;
  background: linear-gradient(
    to bottom,
    #e2e9f0b2 70%,
    #dce4ebb2 70%,
    #e2e9f000
  );
  border: px solid black;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px #12245959;
  padding-top: 10px;
}


@media (max-width: 768px) {
  .img1 {
    left: 23.5vw;
    width: 17vw;
    border: px solid;
    }
    
    
    .div-section2-child1 {
      top: -15vw; 
      }
      .section2-span-child:nth-of-type(8) {
        left: -7vw;
      }
      .section2-span-child:nth-of-type(5) {
        left: -4.3vw;
      }
      .section2-span-child:nth-of-type(2) {
        left: -1.8vw;
      }
      .section2-span-child:nth-of-type(11) {
        left: -1.1vw;
      }
  }