body {
  background-color: rgb(46, 196, 182);
  margin: 0;
}

.container {
  width: 100%;
  height: 180vh;
  position: relative;
  top: 0;
  background-color: rgb(200, 226, 222);
}

.text-div {
  position: relative;
  top: 160px;
  left: 80px;
  width: 32vw;
  padding: 35px 0px 0px 0px;
  box-sizing: border-box;
  display: inline-block;
}

h1 {
  border: 0;
}

p {
  padding: 0 15.6px 0 0;
  border: 0 solid;
  margin-bottom: 5px;
  line-height: 20px;
  opacity: 1;
  color: rgb(60, 60, 60);
  font-size: 1rem;
}

img {
  width: 48px;
  height: 48px;
}

#paragraph2 {
  display: none;
}

.form-div {
  border: 0;
  width: 44vw;
  min-width: 20vw;
  position: absolute;
  top: 9%;
  left: 46%;
  margin: auto;
  height: auto;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 5px;
  padding: 10px 5px;
}

.flex1 {
  display: flex;
  flex-direction: row;
  border: 0;
  padding: 10px;
  gap: 10px;
}

label {
  border: 0;
  flex: 1;
  line-height: 1.5rem;
  font-weight: 500;
}

.inputHalf {
  width: 99%;
  box-sizing: border-box;
  height: 5.8vh;
  border-radius: 3px;
  border: 1px solid white;
  background-color: whitesmoke;
}

.button {
  width: 99%;
  padding: 10px;
  background-color: #2ec4b6;
  border-radius: 3px;
  color: white;
}

.form-text {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

input:focus,
select:focus {
  outline: none;
  font-size: larger;
  border: 2px solid #2ec4b6;
}

a {
  color: #2ec4b6;
}

@media (max-width: 650px) {
  .container {
    position: static;
    display: block;
    width: 100%;
    height: 180vh;
  }
  .text-div {
    position: static;
    display: block;
    top: 0;
    width: 100%;
    padding-left: 3px;
  }
  .form-div {
    position: static;
    display: block;
    left: 0px;
    width: 98%;
  }
}

@media (max-width: 430px) {
  .container {
    width: 100%;
    height: 130vh;
  }
  .text-div {
    top: 0;
    width: 100%;
    padding-left: 15px;
  }
  .form-div {
    width: 90%;
    height: 67%;
  }

  .flex1 {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .button {
    margin-top: 14px;
  }
  #paragraph1 {
    display: none;
  }

  #paragraph2 {
    display: block;
  }
  h1 {
    margin-bottom: 0;
  }
}

@media (max-width: 390px) {
  .container {
    width: 100%;
    height: 136vh;
  }
  .text-div {
    width: 100%;
    padding-left: 15px;
  }
  .form-div {
    height: 71%;
    box-sizing: border-box;
  }

  label {
    flex: 1;
    line-height: 1.5rem;
    font-weight: 500;
    font-size: small;
  }

  .form-text {
    margin-top: 28px;
    padding: 10px 23px;
  }
}

@media (max-width: 340px) {
    .container {
        width: 100%;
        height: 165vh;
      }
  .form-div {
    height: 69%;
  }

  .form-text {
    margin-top: 0;
  }
}
