body {
  background-color: black;
  height: auto;
  
}
body h1 {
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(
    to right,
    green,
    rgb(255, 0, 203),
    rgb(245, 185, 0)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  border-bottom-style: outset;
  border-bottom: 5px solid grey;
  width: 80%;
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3vw;
  left: 0;
  right: 0;
  width: 40%;
  height: auto;
  margin: 0 auto 3vw auto;
  /* transform: translate(-50%, -50%); */
  background-color: cornsilk;
  border-radius: 8px;
  z-index: 2;
  text-align: center;
  padding: 30px;
  box-shadow: 4px 4px lightgray;
  box-sizing: border-box;
}

#container p {
  margin: 10px 0;
  font-weight: 700;
}
#div-button button {
  padding: 1vw 2vw;
  border-radius: 5px;
  background-color: darkslategrey;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 36vw;
  height: 4vw;
  margin-bottom: 1.2vw;
}



a:hover {
  color: black;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 2vw;
}

@media screen and (max-width: 600px) {
  #container {
    top: 0vw;
    width: 60%;
    margin: 5vw auto 0 auto;
  }
  #div-button button {
    height: 6vw;
}
}
