:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --accent-color: #e74c3c;
  --text-color: #333;
  --background-color: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2rem 0;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  flex-grow: 1;
}

#container,
#preview {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px;
}

#container {
  animation: slideInLeft 1s ease-in-out;
}

#container p {
  text-align: center;
}

#preview {
  animation: slideInRight 1s ease-in-out;
}

h2 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

#div-button {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.preview-buttons-div {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#next, #previous {
  padding: 10px;
  text-align: center;
  color: antiquewhite;
}

button:hover {
  transform: translateY(-3px);
  background-color: var(--accent-color);
}

button a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  #container,
  #preview {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}

