#reference {
  width: 50vw;
  height: auto;
  background: lightblue;
  margin: 0vw 0vw 0px 38.4vw;
  font-size: 2vw;
  padding: 10px 0px 20px 3vw;
  border-left: 15px solid grey;
}

p {
  color: black;
  font-size: 2.3vw;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
#floating2, #floating, #floating3 {
  display: none;
  
}
#floating3 {
  width: 3vw;
}
span {
  display: block;
  margin-top: 0px;
  font-size: 5vw;
  height: 5vw;
  padding-top: 0px;
  font-family:  cursive;
}

.result {
  background: pink;
  padding: 10px;
  font-size: 2vw;
  border: 1px solid;
  text-align: center;
  z-index: 1000; 
}
